* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    background-image: radial-gradient( circle, rgb(1, 48, 45) 0%, black 100%);
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {

    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #161414 0%, rgb(0, 0, 0) 100%);

    text-align: center;
}

input, button {
    text-align: center;
    border: 0 none;
    outline: 0;
    height: 40px;
    max-width: 90%;
    border-radius: 15px;
    border-color: none;
    margin-top: 10px;
    padding: 5px;
    border-color: #001331;
}

h1{
    padding: 10px;
    margin-top: 50px;
    color: aliceblue;
    margin-bottom: 10px;
}
#resultado{
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    padding: 20px;
    font-size: x-large;
    text-transform: capitalize;
    
}

label{
    color: rgb(87, 81, 81);
  
}